.wrapper, html, body {
    height: 100%;
    margin: 0;
}


.title {
    background-color: green;

}

.main {
    background-color: aqua;
    flex: 1 1 auto;

}

.footer {
    background-color: grey;
}