@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@media (max-width:600px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

    * {
        padding: 0;
    }
    .titlebar {
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    .tbimgleft {
        max-height: 100%;
        width: 15rem;
        padding-right: 15rem;
        justify-self: center;
    }

    .tbleft {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .tbmid {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(0,153,230);
        padding-left: 1rem;
    }

    .tbimgright {
        padding-left: 10rem;
    }


    .main {
        flex-direction: column;
    }
}

:root {
    --title-border: 0.4rem solid;
}

.html {
    min-width: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper, html, body {
    min-height: 100vh;
    background-position: center center;
    background-image: url(../../imgs/oceanbg.jpg);
    
    

}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    flex-shrink: 2;
}


.titlebar {
    background-color: rgba(0,255,255,0.4);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title1 {
    font-size: 4rem;
}

.title2 {
    font-size: 4rem;
}

.title3 {
    font-size: 4rem;
}


.tbleft {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;

}

.tbright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}

.tbmid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem;
    color: rgb(0,153,230);
}

.tbimgleft {
    max-height: 100%;
    width: 15rem;
    padding-left: 5rem;
}

.tbimgright {
    max-height: 100%;
    width: 10rem;

}

.main {
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    padding: 2rem;

}

.mleft {
    width: 50%;
    padding: 1rem;

}

.mright {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.mrtop {
 flex-grow: 1;
 padding-bottom: 2rem;
 height: 50%;
 display: flex;
 justify-content: center;
 padding-left: 12rem;
}

.mrbottom {
 flex-grow: 1;
 margin-top: 1rem;
 height: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.linkdiv {
    height: 10%;
}

.algdiv {
    height: 40%;
    display: flex;
    justify-content: center;

}

.sliderdiv {
    padding-top: -30rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.labeltext {
    justify-self: center;
    padding-left: 7rem;
}



.phyimg {
    height: 70%;
    padding-left: 5rem;
    padding-top: 13rem;
}


#img {
    height: 25rem;
}

.labeltext {
    color: white;
}


.foodimg {
    padding-top: 3rem;
    height: 40rem;
    width: 40rem;
}

.mright {
    display: flex;
    justify-content: start;
    align-items: center;
}



.footer {
    justify-content: flex-end;
    display: flex;
    justify-content: center;
    background-color: rgba(0,255,255,0.3);
}

.mltext {
    flex-grow: 0.7;
    min-height: 8rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: 3rem 3rem 0rem;
    text-shadow: rgb(12, 21, 99) 2px 0px 0px, 
    rgb(12, 21, 99) 1.75517px 0.958851px 0px, 
    rgb(12, 21, 99) 1.0806px 1.68294px 0px, 
    rgb(12, 21, 99) 0.141474px 1.99499px 0px, 
    rgb(12, 21, 99) -0.832294px 1.81859px 0px, 
    rgb(12, 21, 99) -1.60229px 1.19694px 0px, 
    rgb(12, 21, 99) -1.97999px 0.28224px 0px,
    rgb(12, 21, 99) -1.87291px -0.701566px 0px, 
    rgb(12, 21, 99) -1.30729px -1.51361px 0px, 
    rgb(12, 21, 99) -0.421592px -1.95506px 0px, 
    rgb(12, 21, 99)0.567324px -1.91785px 0px, 
    rgb(12, 21, 99) 1.41734px -1.41108px 0px, 
    rgb(12, 21, 99) 1.92034px -0.558831px 0px;
}

.mlsources {
    flex-grow: 0.7;
    min-height: 8rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0rem 3rem 3rem;
    color: white;
}

a, .whiteborder {
    color:rgb(12, 21, 99);
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, 
    rgb(255, 255, 255) 1.75517px 0.958851px 0px, 
    rgb(255, 255, 255) 1.0806px 1.68294px 0px, 
    rgb(255, 255, 255) 0.141474px 1.99499px 0px, 
    rgb(255, 255, 255) -0.832294px 1.81859px 0px, 
    rgb(255, 255, 255) -1.60229px 1.19694px 0px, 
    rgb(255, 255, 255) -1.97999px 0.28224px 0px,
    rgb(255, 255, 255) -1.87291px -0.701566px 0px, 
    rgb(255, 255, 255) -1.30729px -1.51361px 0px, 
    rgb(255, 255, 255) -0.421592px -1.95506px 0px, 
    rgb(255, 255, 255)0.567324px -1.91785px 0px, 
    rgb(255, 255, 255) 1.41734px -1.41108px 0px, 
    rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}